In [8]:
import mysql.connector as c 
con= c.connect(host="localhost",user="root",passwd="rudraxcode",database="bank")
if con.is_connected():
    cur=con.cursor()
    cur.execute("select * from login_details where LoginID='{}'".format('Rudra18'))
    j=cur.fetchmany()
    for i in j:
        cur.execute("Select Amount,Ttype,Balance from transaction_details where Account_no = '{}'".format(i[0]))
    s=cur.fetchall()
    for i1 in s:
        print(i1)

(101, 'Deposit', 101)
(501, 'Deposit', 602)

In [1]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",passwd="rudraxcode")
print(con.is_connected())
cur=con.cursor()
cur.execute("Show Databases")
for i in cur:
    print(i)
con.close()

ModuleNotFoundError: No module named 'mysql'

In [4]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",passwd="rudraxcode",database="Rudra")
print(con.is_connected())
cur=con.cursor()
cur.execute("select Sal from empl where Deptno=10;")
v=cur.fetchall()
for i in v:
    print(i[0])
con.close()

True
5010.00
2460.00
1310.00

In [3]:
'1992-01-23'=='1992-01-23'

True

In [8]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",passwd="rudraxcode",database="Rudra")
print(con.is_connected())
cur=con.cursor()
cur.execute("select * from job1")
v=cur.fetchone()
print(v[0])
con.close()

True
123

In [3]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",passwd="rudraxcode",database="Rudra")
print(con.is_connected())
cur=con.cursor()
cur.execute("select * from job1")
a=cur.fetchmany(2)
for i in a:
    print(i)
con.close()

True
(123, 'Agra', datetime.date(2006, 1, 25), 5000, datetime.date(2026, 1, 25), 'Marketing')
(127, 'Mathura', datetime.date(2006, 12, 22), 6000, datetime.date(2026, 12, 22), 'Finance')

In [4]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",passwd="rudraxcode",database="Rudra")
print(con.is_connected())
cur=con.cursor()
cur.execute("select * from job1")
s=cur.fetchall()
for i in s:
    print(i)
con.close()

True
(123, 'Agra', datetime.date(2006, 1, 25), 5000, datetime.date(2026, 1, 25), 'Marketing')
(127, 'Mathura', datetime.date(2006, 12, 22), 6000, datetime.date(2026, 12, 22), 'Finance')
(124, 'Agra', datetime.date(2007, 8, 19), 5500, datetime.date(2027, 8, 19), 'Marketing')
(125, 'Delhi', datetime.date(2004, 4, 14), 8500, datetime.date(2018, 4, 14), 'Sales')
(128, 'Pune', datetime.date(2008, 3, 14), 7500, datetime.date(2028, 3, 13), 'Sales')

In [2]:
import mysql.connector as ms
con=ms.connect(host="localhost",user="root",passwd="rudraxcode",database="Rudra")
if con.is_connected():
    print("Connection Establised")
    cur=con.cursor()
    sno=int(input("Enter the sno:: "))
    cn=input("Enter the car name:: ")
    en=input("Enter the engine number:: ")
    query="insert into automobile values({},'{}','{}')".format(sno,cn,en)
    cur.execute(query)
    con.commit()
    print("Values inserted properly")
con.close()

Connection Establised
Enter the sno:: 2
Enter the car name:: G-Wagon
Enter the engine number:: 41258
Values inserted properly

In [3]:
import mysql.connector as ms
con=ms.connect(host="localhost",user="root",passwd="rudraxcode",database="Rudra")
if con.is_connected():
    print("Connection Establised")
    cur=con.cursor()
    n=int(input("Enter how many times you want to enter the details of car:: "))
    for i in range(n):
        sno=int(input("Enter the sno:: "))
        cn=input("Enter the car name:: ")
        en=input("Enter the engine number:: ")
        query="insert into automobile values({},'{}','{}')".format(sno,cn,en)
        cur.execute(query)
        con.commit()
        print("Values inserted properly")
con.close()

Connection Establised
Enter how many times you want to enter the details of car:: 2
Enter the sno:: 3
Enter the car name:: Harrier
Enter the engine number:: 84512
Values inserted properly
Enter the sno:: 4
Enter the car name:: Compass
Enter the engine number:: 12458
Values inserted properly

In [1]:
import mysql.connector
con=mysql.connector.connect(host="localhost",user="root",passwd="rudraxcode",database="Rudra")
if con.is_connected():
    print("Connection Establised")
    cur=con.cursor()
    print("Which details you want from below options:- ")
    print("1. Name of the employee.")
    print("2. Salary of the employee.")
    print("3. Employee Number.")
    n=int(input("Enter the option number:: "))
    if n==1:
        cur.execute("select * from empl)
        print("Name of the employees are:-")
        v=cur.fetchone()
        while (v):
            print(v)
            v=cur.fetchone()
    elif n==2:
        cur.execute("select Ename,Sal from empl")
        print("Salary of the employees are:-")
        c=cur.fetchone()
        while (c):
            print(c)
            c=cur.fetchone()
    elif n==3:
        cur.execute("select Ename,Empno from empl")
        print("Employee number are:-")
        d=cur.fetchone()
        while (d):
            print(d)
            d=cur.fetchone()    
con.close()

Connection Establised
Which details you want from below options:-
1. Name of the employee.
2. Salary of the employee.
3. Employee Number.
Enter the option number:: 1
Enter the Salary:: 1000
Name of the employees are:-
(8499, 'Anya', 'Salesman', 8698, datetime.date(1991, 2, 20), Decimal('1600.00'), Decimal('300.00'), 30)
(8521, 'Seth', 'Salesman', 8698, datetime.date(1991, 2, 22), Decimal('1250.00'), Decimal('500.00'), 30)
(8566, 'Mahadevan', 'Manager', 8839, datetime.date(1991, 4, 2), Decimal('2985.00'), None, 20)
(8654, 'Momin', 'Salesman', 8698, datetime.date(1991, 9, 28), Decimal('1250.00'), Decimal('1400.00'), 30)
(8698, 'Bina', 'Manager', 8839, datetime.date(1991, 5, 1), Decimal('2850.00'), None, 30)
(8839, 'Amir', 'President', None, datetime.date(1991, 11, 18), Decimal('5000.00'), None, 10)
(8844, 'Kuldeep', 'Salesman', 8698, datetime.date(1991, 9, 8), Decimal('1500.00'), Decimal('0.00'), 30)
(8882, 'Shiavnsh', 'Manager', 8839, datetime.date(1991, 6, 9), Decimal('2450.00'), None, 10)
(8886, 'Anoop', 'Clerk', 8888, datetime.date(1993, 1, 12), Decimal('1100.00'), None, 20)
(8888, 'Scott', 'Analyst', 8566, datetime.date(1992, 12, 9), Decimal('3000.00'), None, 20)
(8902, 'Fakir', 'Analyst', 8566, datetime.date(1991, 12, 3), Decimal('3000.00'), None, 20)
(8934, 'Mita', 'Clerk', 8882, datetime.date(1992, 1, 23), Decimal('1300.00'), None, 10)