In [1]:
import cmath
a =int(input("Enter values for a"))
b = int(input("Enter values for b"))
c = int(input("Enter values for c"))
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

Experiment 1

In [ ]:
a=int(input())
b=int(input())
b,a=a,b
print("a=",a)
print("b=",b)

a= 3
b= 5

In [ ]:
n=int(input("Enter a number: "))
print(n+n*n+n*n*n)

155

In [ ]:
print(type[1,2]))

SyntaxError: unmatched ')' (1105589320.py, line 1)

In [ ]:
print(type([1/2]))

<class 'list'>

In [ ]:
print(type(1,2))

TypeError: type() takes 1 or 3 arguments

In [ ]:
print(type((1/2)))

<class 'float'>

In [ ]:
print(type(1/2))

<class 'float'>

In [ ]:
print(type((1/2,)))

<class 'tuple'>

In [ ]:
P=int(input("Enter the principal amount: "))
R=float(input("Enter the interest rate: "))
T=int(input("Enter the time period in years: "))
SI=P*R*T/100
print("Simple Interest is: ",SI)

Simple Interest is:  11100.0

In [ ]:
print((10+3)*2)
print(11/2)
x=25
print(x/2>=50)
print(x*2==50)
a='Honda'
b='Audi'
print(a+b) 
c=len(a)+len(b)
print(c)
print(a)
print(a[1])

26
5.5
False
True
HondaAudi
9
Honda
o

In [ ]:
x=True
y=False
z=False
print(x or y and z)

True

In [ ]:
x=True
y=False
z=False
print(not x or y)
print(not x or not y and z)
print(not x or y or not y and x)
print('ant' < 'amoeba')

False
False
True
False

In [ ]:
x,y=7,2 
x,y,x=x+1,y+3,x+10 
print(x,y)

17 5

In [ ]:
a,b,c=5,10,7
b,c,a=a+1,b+2,c-1 
print(a,b,c)

6 6 12

In [ ]:
age=int(input("Enter your age: "))
name=input("Enter your name: ")

In [ ]:
r=int(input("Enter the radius of the circle: "))
area=3.14*r**2
print("Area of the circle is: ",area)

Area of the circle is:  78.5

In [ ]:
l=int(input("Enter the length of the rectangle: "))
b=int(input("Enter the breath of the rectangle: "))
area=l*b
print("Area of reactangle is: ",area)

Area of reactangle is:  25

Experiment 2

In [ ]:
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
num3=int(input("Enter third number: "))
if (num1 >= num2) and (num1 >= num3):
 largest = num1
elif (num2 >= num1) and (num2 >= num3):
 largest = num2
else:
 largest = num3
print("The largest numbers are:",largest)

The largest numbers are: 21

In [ ]:
age=int(input("Enter your age: "))
if age>18:
    print("Eligible for vote")
else:
    print("Not eligible for vote")

Not eligible for vote

In [ ]:
n=int(input("Enter the name from (1-7): "))
if n==1:
    print("Monday")
elif n==2:
    print("Tuesday")
elif n==3:
    print("Wednesday")
elif n==4:
    print("Thursday")
elif n==5:
    print("Friday")
elif n==6:
    print("Saturday")
elif n==7:
    print("Sunday")
else:
    print("invalid Input")

Friday

In [ ]:
sub1=float(input("Enter marks: "))
sub2=float(input("Enter marks: "))
sub3=float(input("Enter marks: "))
sub4=float(input("Enter marks: "))
sub5=float(input("Enter marks: "))
#avg=(sub1+sub2+sub3+sub4+sub5)/5
avg=60.0
print(avg)
if avg>=90.0:
    print("Grade= A+")
elif avg>=80.0 and avg<90.0:
    print("Grade= A")
elif avg>=70.0 and avg<80.0:
    print("Grade= B+")
elif avg>=60.0 and avg<70.0:
    print("Grade= B")
elif avg>=50.0 and avg<60.0:
    print("Grade= C1")
elif avg>=40.0 and avg<50.0:
    print("Grade= C2")
elif avg>=33.0 and avg<40.0:
    print("Grade= D")
elif avg<33.0:
    print("Failed")

60.0
Grade= B

In [3]:
x=7
if x>3:
    if x<=5:
        y=1
    elif x!=6
        y=2
    else:
        y=3
else:
    y=4

SyntaxError: expected ':' (3920730597.py, line 5)

In [ ]:
tem=float(input("Enter temperature"))
type=input("Enter the type F or C")
if type=="F":
    C=5/9*tem+32
    print("Temperature in C is",C)
elif type=="C":
    F=9/5*tem+32
    print("Temperature in F is",F)
else:
    print("Invalid Input")

Temperature in F is 86.0

In [ ]:
n=int(input("Enter a number: "))
if n%2==0:
    print(n,"is a even number")
elif n%2!=0:
    print(n,"is a odd number")
else:
    print("Invalid input")

1 is a odd number

In [ ]:
n=int(input("Enter the number to check whether it divisible by 7 or not: "))
if n%7==0:
    print(n,"is divisible by 7")
else:
    print(n,"is not divisible by 7")

35 is divisible by 7

In [ ]:
year=int(input("Enter a year: "))
if year%4==0:
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

2024 is a leap year

In [ ]:
city=input("Enter the name of city: ")
if city=="Delhi":
    print("Red Fort")
elif city=="Agra":
    print("Taj Mahal")
elif city=="Jaipur":
    print("Jal Mahal")
else:
    print("Data not Found!")

Red Fort

Experiment 3

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
 print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
 print("The factorial of 0 is 1")
else:
 for i in range(1,num + 1):
    factorial = factorial*i
 print("The factorial of",num,"is",factorial)

The factorial of 5 is 120

In [ ]:
for i in range(50,0,-1):
    print(i,end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [ ]:
n=int(input("Enter a number: "))
print("Entered Number: ",n)
print("Reversed Number: ")
N=str(n)
for i in range(len(N)):
    a=n%10
    n=n//10
    print(a,end="")

Entered Number:  1452
Reversed Number:
2541

In [8]:
n=int(input("Enter a number: "))
sum=0
for i in range(1,n):
    if n%i==0:
        sum=sum+i
if n==sum:
    print(n,"is a perfect number")
else:
    print(n,"is not a perfect number")

28 is a perfect number

In [ ]:
n=int(input("Enter a number: "))
sum=0
while n>0:
    r=n%10
    sum=sum+r
    n=n//10
print("Sum of digit is: ",sum)

Sum of digit is:  3

In [ ]:
n=int(input("Enter a number: "))
if n > 1:
    for i in range(2,n-1):
        if n%i== 0:
            print(n," is not prime")
            break
    else:
        print(n,"is a prime")

55  is not prime

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

The factorial of 5 is 120

In [ ]:
a,b=0,1
print(a,end="")
n=int(input("Enter a number"))
for i in range(0,n-1):
    c=a+b
    a=b
    b=c
    print(",",a,end="")

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55

In [9]:
for r in range(1,6):
    for c in range(1,r+1):
        print(r,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for r in range(1,5):
    for c in range(1,r+1):
        print(r*c,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16

In [ ]:
for i in range(1,5):
    print(i*" *")

 *
 * *
 * * *
 * * * *

In [ ]:
n=6
for r in range(1,6):
    for c in range(1,r+1):
        print(n-c,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
for r in range(1,7):
    for c in range(1,5):
        if r>=1 and c==1:
            print(1,end=" ")
        elif r<=5 and c==2:
            print(2,end=" ")
        elif (r>1 and r<5) and c==3:
            print(3,end=" ")
        elif r==3 and c==4:
            print(4,end=" ")
    print()

1 2
1 2 3
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=int(input())
for r in range(n+1):
    for c in range(1,r+1):
        print(c,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
num=1
gap=n-1
for j in range(1,n+1):
    num=j
    for i in range(1,gap+1):
        print(end="")
        gap=gap-1
    for i in range(1,j+1):
        print(num,end=" ")
        num=num+1
    num=num-2
    for i in range(1,j):
        print(num,end=" ")
        num=num-1
    print()

1
2 3 2
3 4 5 4 3
4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
n=int(input())
for r in range(n+1):
    for space in range(1,n-r+1):
        print(end=" ")
    for c in range(r,0,-1):
        print(c,end=" ")
    print()

    1
   2 1
  3 2 1
 4 3 2 1
5 4 3 2 1

In [ ]:
for i in range(5,0,-1):
    print(i*" *")

 * * * * *
 * * * *
 * * *
 * *
 *

In [ ]:
for i in range(1,5):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1

In [ ]:
n=1
for r in range(1,5):
    for c in range(1,r+1):
        print(n,end=" ")
        n=n+1
    print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
n=int(input("Enter a number"))
r,sum=0,0
a=len(str(n))
t=n
while n>0:
    r=n%10
    sum=sum+r**a
    n=n//10
if t==sum:
    print(t,"is armstrong")
else:
    print(t,"is not armstrong")

153 is armstrong

In [ ]:
n=int(input("Enter the 3-4 digit number: "))
n1=n
r,an=0,0
while n>0:
    r=n%10
    an=an*10+r
    n=n//10
print(an)
if n1==an:
    print("it is a palindrome number")
else:
    print("It is not a palindrome number")

121
it is a palindrome number

In [ ]:
st=input("Enter a word: ")
st1=st[::-1]
if st==st1:
    print(st,"is a palindrome string.")
else:
    print(st,"is not a palindrome string")

mom is a palindrome string.

In [ ]:
N=int(input())
print("Prime number from 2 to",N,"are: ")
for num in range(2,N+1):
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num,end=" ")

Prime number from 2 to 21 are:
2 3 5 7 11 13 17 19

Experiment 4

In [ ]:
n = input("Enter the word and see if it is palindrome: ")
if n == n[::-1]:
 print("This word is palindrome")
else:
 print("This word is not palindrome")

This word is palindrome

In [4]:
st=input("Enter a word: ")
rev=st[::-1]
print("Word is reverse: ",rev)

Word is reverse:  arduR

In [5]:
w=input("Enter a string: ")
w2=w.split()
a=""
for i in w2:
    a+=i[::-1]
    a+=" "
print(a)

olleh dlrow

In [1]:
w=input("Enter a word:  ")
w1=set(w)
for i in w1:
    count=0
    for j in w:
        if i==j:
            count+=1
    print(i,"=",count)

l = 1
A = 1
e = 1
p = 2

In [6]:
st=input("ENter a string")
s=st.split()
l1=[]
c=0
for i in s:
    l1.append(len(i))
    c+=1
m=max(l1)
for k in range(c):
    if m==len(s[k]):
        print(s[k]," is the largest word")

present  is the largest word

In [7]:
st=input("Enter a word: ")
print(st.upper())

RUDRA KASHYAP

In [ ]:
w=input("Enter a word: ")
r=w.replace("a","$")
print(r)

Rudr$ K$shy$p

In [11]:
s=input("Enter a word:  ")
n=int(input("Enter intex number: "))
for i in range(len(s)):
    if (i+1)!=n:
        print(s[i],end="")
    else:
        continue

Rdra

In [5]:
st=input("Enter a word: ")
l1=list(st)
l1[0],l1[-1]=l1[-1],l1[0]
a=str("".join(l1))
print(a)
print(type(a))

audrR
<class 'str'>

In [1]:
s=input("Enter a string1: ")
S=s.replace(" ","-")
print(S)

Rudra-Kashyap

In [6]:
s=input("Enter a string: ")
count=0
l1=["a","e","i","o","u"]
for i in s:
    if i in l1:
        count+=1
print("Total numbers of vowels are: ",count)

Total numbers of vowels are:  3

In [ ]:
s=input("Enter a string: ")
count=0
for i in s:
    count+=1
print("length of string is: ",count)

length of string is:  5

In [7]:
e=input("Enter a string: ")
for i in range(len(e)):
    if i%2==0:
        print(e[i],end="") #Rudra

lgtc

Experiment 5

In [ ]:
lst=eval(input("Enter list:"))
length=len(lst)
min_ele=lst[0]
min_index=0
for i in range(1,length-1):
    if lst[i]<min_ele:
        min_ele=lst[i]
print("Given list is: ",lst)
print("The minimum element of a list is:",min_ele)

Given list is:  [67, 4, 5, 8, 0, 1, 6]
The minimum element of a list is: 0

In [15]:
#1
l1=[1,2,3,4,5,6,77,6,1,2,3,4,5,6]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 77]

In [3]:
#2
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

numbers = [1, 4, 2, 10, 23, 3, 7]
print(find_largest(numbers))

4
10
23
23

In [1]:
#3
def find_second_largest(l):
    n=len(l)
    for i in range(n):
        for j in range(0,n-i-1):
            if l[j]>l[j+1]:
                l[j],l[j+1]=l[j+1],l[j]
    return l[-2]
numbers = [1, 4, 2, 10, 23, 3, 7]
print(find_second_largest(numbers))

10

In [16]:
#4
l1=[2,15,7,20,30]
l2=[]
for i in l1:
    if i%2==0:
        i+=5
        l2.append(i)
    elif i%2!=0:
        i+=10
        l2.append(i)
    else:
        continue
print(l2)

[7, 25, 17, 25, 35]

In [20]:
#5
l1=[1,2,3,4,5,6,7]
temp=l1[0]
l1[0]=l1[-1]
l1[-1]=temp
print("Swaped list: ",l1)

Swaped list:  [7, 2, 3, 4, 5, 6, 1]

In [22]:
#6
l1=[1,2,3,4,5,6,7]
sum=0
for i in l1:
    sum+=i
print("Sum of all the elements in the list is: ",sum)

Sum of all the elements in the list is:  28

In [18]:
#7
l1=[15,26,37,10,22,13]
sum1=0
sum2=0
for i in l1:
    if i%2==0:
        sum1+=i
    elif i%2!=0:
        sum2+=i
    else:
        continue
print("sum of even values: ",sum1)
print("Sum of odd values: ",sum2)

sum of even values:  58
Sum of odd values:  65

In [20]:
#8
def count_divisible(l):
    c_3div=0
    c_7div=0
    for i in l:
        if i>=1:
            if i%3==0:
                c_3div+=1
            elif i%7==0:
                c_7div+=1
        else:
            print("Invalid Input")
    print("numbers divisible by 3: ",c_3div)
    print("Numbers divisible by 7: ",c_7div)
l1=[1,2,3,4,5,6,7,8,9]
count_divisible(l1)

numbers divisible by 3:  3
Numbers divisible by 7:  1

In [18]:
#9
lst=[1,2,3,4,5,6,7,8,9]
h=len(lst)//2
if len(lst)%2==0:
    s=0
else:
    s=1
for i in range(h):
    temp=lst[i]
    lst[i]=lst[i+h+s]
    lst[i+h+s]=temp
print(lst)

[6, 7, 8, 9, 5, 1, 2, 3, 4]

In [21]:
#10

n=int(input("How many elements you want in your tuple: "))
t=()
print("Enter elements for tuple.")
for i in  range(n):
    n1=int(input("Enter element: "))
    t+=(n1,)
print(t)

Enter elements for tuple.
(1, 2, 3, 4, 5)

In [20]:
#11
Plane=("Passengers", Luggage)
Plane[1]="snakes"

NameError: name 'Luggage' is not defined

In [22]:
#11
Tup=(1,)*3
Tup[0]=2
print(Tup)

TypeError: 'tuple' object does not support item assignment

In [26]:
#12
n=int(input("How many elements you want in your tuple: "))
st=set()
print("Enter elements for tuple.")
for i in  range(n):
    n1=int(input("Enter element: "))
    st.add(n1)
print(st)

Enter elements for tuple.
{1, 4}

In [27]:
#13
s1={1,2,3,4}
s2={5,4,3,2,1}
s=s1.union(s2)
print(s)

{1, 2, 3, 4, 5}

Experiment 6

In [1]:
Word=input("Enter some word:")
d={}
for x in Word:
 d[x]=d.get(x,0)+1
print(d)
for k,v in d.items():
 print(k,"occured....",v,"times")

{'R': 1, 'u': 1, 'd': 1, 'r': 1, 'a': 1}
R occured.... 1 times
u occured.... 1 times
d occured.... 1 times
r occured.... 1 times
a occured.... 1 times

In [1]:
#1
d={}
rollno=int(input("Enter roll number:" ))
name=input("Enter your name: ")
d[rollno]=name
print(d)

{63: 'Rudra'}

In [10]:
#2
d={63: 50, 48: 20, 71: 30, 64: 22, 78: 50}
a=d.values()
sum=0
for i in a:
    sum+=i
print("Sum of values is: ",sum)

Sum of values is:  172

In [6]:
#3
d={"Rudra":48,"Om":22,"Gaurav":37,"Rudrani":64,"Sagar":65}
new={}
l=list(d.values())
l.sort()
for i in l:
    for j in d:
        if i==d[j]:
            new[j]=i
print(new)

{'Om': 22, 'Gaurav': 37, 'Rudra': 48, 'Rudrani': 64, 'Sagar': 65}

In [26]:
#4
Day=dict(zip({1,2,3},{"Monday","Tuesday","Wednesday"}))
print(Day)

{1: 'Monday', 2: 'Tuesday', 3: 'Wednesday'}

In [14]:
#5
d={1: 'Monday', 2: 'Tuesday', 3: 'Wednesday'}
new={}
for i in d:
    new[d[i]]=i
print(new)

{'Monday': 1, 'Tuesday': 2, 'Wednesday': 3}

In [23]:
#6
d={1: 'Monday', 2: 'Tuesday', 3: 'Wednesday',4:"Tuesday"}
new={}
for key, value in d.items():
    if value not in new:
        new[value]=[key]
    else:
        new[value].append(key)
for i, j in new.items():
    if len(j)>1:
        for x in j:
            print("Keys with duplicates values in dictionary is: ",x)

Keys with duplicates values in dictionary is:  2
Keys with duplicates values in dictionary is:  4

In [4]:
#7
d={"Rudra":48,"Om":22,"Gaurav":37,"Sagar":"S"}
K=40
new={}
for i in d.items():
    if type(i[1])==int:
        if i[1]>K:
            continue    
        else:
            new[i[0]]=i[1]
    else:
        continue
print("Updated Dictionary: ",new)

Updated Dictionary:  {'Om': 22, 'Gaurav': 37}

In [6]:
#8
D={1:"one",2:"two",3:"three"}
L=[]
for K,V in D.items():
    if V[0]=="T":
        L.append(K)
print(L)

[]

In [7]:
#9
D={}
T=("ZEESHAN","NISHANT","GURMEET","LISA") 
for i in range(1,5):
    D[i]=T[i-1]
print(D)

{1: 'ZEESHAN', 2: 'NISHANT', 3: 'GURMEET', 4: 'LISA'}

In [7]:
#10
d1={1: 'ZEESHAN', 2: 'NISHANT', 3: 'LISA'}
d2={2:"RUDRA"}
d1.update(d2)
print(d1)

{1: 'ZEESHAN', 2: 'RUDRA', 3: 'LISA'}

Experiment 7

In [3]:
def binary_search(arr, x):
 low=0
 high=len(arr)-1
 mid=0
 while low<=high:
    mid=(high+low)//2
    if arr[mid]<x:
        low=mid+1
    elif arr[mid]>x:
        high=mid - 1
    else:
        return mid
    return -1
arr=[2, 3, 4, 10, 40]
x=10
# Function call
result=binary_search(arr, x)
if result!=-1:
    print("Element is present at index", str(result))
else:
    print("Element is not present in array")

Element is not present in array

In [3]:
#1
def binary_to_decimal(binary):
    decimal = 0
    binary = str(binary)
    for digit in binary:
        decimal = decimal*2 + int(digit)
    return decimal

def decimal_to_binary(decimal):
    binary = ""
    while decimal > 0:
        binary = str(decimal % 2) + binary
        decimal = decimal // 2
    return binary

print(decimal_to_binary(10))
print(binary_to_decimal(1010))

1010
10

In [5]:
#2a
#Bubble Sort
l=[15,6,13,22,3,52,2]
print("Original List: ",l)
n=len(l)
for i in range(n):
    for j in range(0,n-i-1):
        if l[j]>l[j+1]:
            l[j],l[j+1]=l[j+1],l[j]
print("Sorted List: ",l)

Original List:  [15, 6, 13, 22, 3, 52, 2]
Sorted List:  [2, 3, 6, 13, 15, 22, 52]

In [30]:
#2b
#insertion sort
l1=[15,6,13,22,3,52,2]
print("Original List: ",l1)
n=len(l1)
for i in range(1,n):
    current=l1[i]
    pos=i
    while  current<l1[pos-1] and pos>0:
        l1[pos]=l1[pos-1]
        pos=pos-1
    l1[pos]=current
print("Sorted List: ",l1)

Original List:  [15, 6, 13, 22, 3, 52, 2]
Sorted List:  [2, 3, 6, 13, 15, 22, 52]

In [2]:
#2c
#selection sort
l1=[15,6,13,22,3,52,2]
print("Original List: ",l1)
for i in range(len(l1)):
    min_val=min(l1[i:])
    min_index=l1.index(min_val)
    l1[i],l1[min_index]=l1[min_index],l1[i]
print("Sortred List: ",l1)

Original List:  [15, 6, 13, 22, 3, 52, 2]
Sortred List:  [2, 3, 6, 13, 15, 22, 52]

In [5]:
#3a
def myfunc(x,y=3):
    a=1
    for i in range(x): 
        a=a*y
        return a
print(myfunc(4))
print(myfunc(4,4))

3
4

In [12]:
#3b
value=50
def display(N):
    global value 
    value=25 
    if N%7==0:
        value=value+N
    else:
        value=value-N
        print(value,end="#")
display(20)
print(value)

5#5

In [8]:
#3c
def Change(P,Q=30): 
    P=P+Q
    Q=P-Q
    print(P,"#",Q)
    return (P)
R=150
S=100
R=Change(R,S)
print(R,"#",S)
S=Change(S)
print(R,"%",S)

250 # 150
250 # 100
130 # 100
250 % 130

In [11]:
#3d
def test():
    global add
    add=add+1
    return add
add=0  
test()

1

In [16]:
#4
def AFIND(CITIES):
    for i in CITIES:
        if i[0]=="A":
            print(i)
l1=["AHMEDABAD","CHENNAI","NEW DELHI","AMRITSAR","AGRA"]
AFIND(l1)

AHMEDABAD
AMRITSAR
AGRA

In [11]:
#5
def binary_search_descending(arr, val):
    left = 0
    right = len(arr) - 1
    while left <= right:
        mid = (left + right) // 2
        if arr[mid] == val:
            return mid
        elif arr[mid] < val:
            right = mid - 1
        else:
            left = mid + 1
    return -1
arr=[15,11,9,8,6,3,1]
binary_search_descending(arr,10)

-1

In [ ]:
#6
def display_primes(n):
    for num in range(2, n+1):
        prime = True
        for i in range(2, num):
            if (num % i) == 0:
                prime = False
                break
        if prime:
            print(num)

In [5]:
#7
def Reverse(X):
    l2=[]
    l2=l1[::-1]
    for i in l2:
        print(i*2,end=" ")
l1=[4,8,7,5,6,2,10]
Reverse(l1)

20 4 12 10 14 16 8

In [6]:
#8
def greet(name, message):
    print("Hello, " + name + ". " + message)

greet(name="John", message="How are you?")

Hello, John. How are you?

In [3]:
#9
def listChange():
    for i in range(len(L)):
        if L[i]%2==0:
            L[i]=L[i]*2
        if L[i]%3==0:
            L[i]=L[i]*3
        else:
            L[i]=L[i]*5
L=[2,6,9,10]
listChange()
for i in L:
    print(i,end="#")

20#36#27#100#

In [4]:
#10
V=25
def Fun(ch):
    V=50
    print(V,end=ch)
    V*=2
    print(V,end="*")
Fun("!")
print(V)

50!100*25

In [5]:
#11
V=50
def Change(N):
    global V 
    V,N=N,V
    print(V,N,sep="#",end="@")
Change(20)
print(V)

20#50@20

In [17]:
#12
def change_value(x):
    x = x + 1
    print("Inside the function, x = ", x)

x = 10
change_value(x)
print("Outside the function, x = ", x)

Inside the function, x =  11
Outside the function, x =  10

In [4]:
#13
def change_list(lst):
    # assign the list to a new variable
    new_lst = lst.copy()
    new_lst.append(5)
    print("Inside the function, lst = ", new_lst)

lst = [1, 2, 3, 4]
change_list(lst)
print("Outside the function, lst = ", lst)

Inside the function, lst =  [1, 2, 3, 4, 5]
Outside the function, lst =  [1, 2, 3, 4]

In [5]:
def binary_search(arr, low, high, x):
    if low <= high:
        mid = (high + low) // 2
        if arr[mid] == x:
            return mid
        elif arr[mid] > x:
            return binary_search(arr, low, mid-1, x)
        else:
            return binary_search(arr, mid+1, high, x)
    else:
        return -1
arr = [2, 3, 4, 10, 40]
x = 10
result = binary_search(arr, 0, len(arr)-1, x)
if result != -1:
    print("Element is present at index", str(result))
else:
    print("Element is not present in array")

Element is present at index 3