In [1]:
for i in range(6):
    for j in range(5):
        if (i==0 or i==5) or j==4:
            print("*",end=" ")
        else:
            print(end=" ")
    print()

* * * * *
    *
    *
    *
    *
* * * * *

In [2]:
for row in range(6):
    for col in range(4):
        if ((row>=0 or i<=5) and col==0) or (row==5 and (col>0 or col<4)):
            print("*",end=" ")
        else:
            print(end=" ")
    print()

*
*
*
*
*
* * * *

In [3]:
for row in range(5):
    for col in range(4):
        if (col==0 or col==3) or (row==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*     *
*     *
* * * *
*     *
*     *

In [4]:
for row in range(7):
    for col in range(4):
        if (col==0) or (row==0) or (row==3) or (row==6):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*
*
* * * *
*
*
* * * *

In [5]:
for row in range(7):
    for col in range(4):
        if (col==0) or (row==0) or (row==3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*
*
* * * *
*
*
*

In [6]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==3 and row!=4 and row!=5) or (col==1 and row!=1 and row!=2 and row!=5 and row!=6) or (col==2 and row!=1 and row!=2 and row!=4 and row!=6):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*     *
*     *
* * * *
* *
*   *
*     *

In [7]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or(row==6):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*       *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [8]:
for row in range(7):
    for col in range(5):
        if (col==0) or (row==0 and col!=4) or (col==4 and row!=0 and row!=6 ) or (row==6 and col!=4):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [9]:
for row in range(7):
    for col in range(5):
        if (col==0 and row>=2) or (col==1 and (row==1 or row==3)) or (col==2 and (row==0 or row==3)) or (col==3 and (row==1 or row==3)) or (col==4 and row>=2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  *   *
*       *
* * * * *
*       *
*       *
*       *

In [10]:
for row in range(5):
    for col in range(5):
        if (col==0 and row==2) or (col==1 and (row==1 or row==3)) or (col==2 and (row==0 or row==4)) or (col==3 and (row==1 or row==3)) or (col==4 and row==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  *   *
*       *
  *   *
    *

In [11]:
for row in range(5):
    for col in range(5):
        if (col==0 and row==2) or (col==1 and (row==1 or row==3 or row==2)) or (col==2) or (col==3 and (row==1 or row==3 or row==2)) or (col==4 and row==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  * * *
* * * * *
  * * *
    *

In [15]:
for row in range(3):
    for col in range(5):
        if (col==0 and row==2) or (col==1 and (row==1 or row==2)) or (col==2 and (row==0 or row==1 or row==2)) or (col==3 and (row==1 or row==2)) or (col==4 and row==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  * * *
* * * * *

In [14]:
for row in range(3):
    for col in range(5):
        if (col==0 and row==2) or (col==1 and (row==1 or row==2)) or (col==2 and (row==0 or row==2)) or (col==3 and (row==1 or row==2)) or (col==4 and row==2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  *   *
* * * * *

In [1]:
n=int(input())
for r in range(1,n+1):
    for c in range(1,r+1):
        print(c,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
n=int(input())
for i in range(1,n+1):
    print(i*" *")

 *
 * *
 * * *
 * * * *
 * * * * *

In [15]:
n=int(input())
for i in range(n+1,0,-1):
    print(i*" *")

 * * * * *
 * * * *
 * * *
 * *
 *

In [18]:
n=int(input())
for r in range(1,n+1):
    for c in range(1,r+1):
        print(c,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
print("""
1
2 4
1 3 5
2 4 6 8 
1 3 5 7 9
""")

1
2 4
1 3 5
2 4 6 8
1 3 5 7 9

In [27]:
for i in range(1, 6,2): 
    for j in range(1, 6 + 1): 
        if(j <= 6 - i): 
            print(' ', end = '  ') 
        else: 
            print("*", end = '  ') 
    print()

               *
         *  *  *
   *  *  *  *  *