In [ ]:
#Self Practise

In [ ]:
t1=(2,3,4,5,6)
t2=(1,2,(3,4))

In [1]:
t1=tuple("Rudra")
print(t1)

('R', 'u', 'd', 'r', 'a')

In [2]:
t1=eval(input("Enter numbers for tuple::"))
print(t1[0],t1[-1])

Enter numbers for tuple::1,2,3,4,5,6,7,8,9
1 9

In [1]:
t1=('P','y','t','h','o','n')
for a in t1:
    print(a,end="")

Python

In [1]:
t1=('P','y','t','h','o','n')
print(t1[0])

P

In [29]:
t1=(1,2,3,4,5,6,7,8,9)
t2=(11,22,33,44,55,66,77,88,99)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99)

In [2]:
t1=(1,2,3,4,5,6,7,8,9)
t1+(56,)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 56)

In [35]:
t1=(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99)
e=t1[3:-1]
print(e)

(4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88)

In [36]:
t1=(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99)
e=t1[1:-1:2]
print(e)

(2, 4, 6, 8, 11, 33, 55, 77)

In [37]:
t1=(1,2,3,4,5,6,7,8,9)
t2=(11,22,33,44,55,66,77,88,99)
t1!=t2

True

In [38]:
t1=(1,2,3,4,5,6,7,8,9)
t2=(11,22,33,44,55,66,77,88,99)
t1==t2

False

In [ ]:
#unpacking????????????????????????????????????????????????????

In [39]:
t1=(1,2,3,4,5,6,7,8,9)
del t1
print(t1)

NameError: name 't1' is not defined

In [42]:
t1=('R','u','d','r','a',18,12,3,4,5,6,7,8,9,0)
len(t1)

15

In [45]:
t2=(11,22,33,44,55,66,77,88,99)
q=max(t2)
d=min(t2)
print(q,d)

99 11

In [47]:
t1=(0, 1, 1, 2, 3, 5, 8, 13, 21)
sum(t1)

54

In [48]:
t1=(0, 1, 1, 2, 3, 5, 8, 13, 21)
t1.index(2)

3

In [49]:
t1=(0, 1, 1, 2, 3, 5, 8, 13, 21)
t1.count(1)

2

In [51]:
t1=(0, 1, 1, 2, 3, 5, 8, 13, 3)
sorted(t1)

[0, 1, 1, 2, 3, 3, 5, 8, 13]

In [53]:
t=("Rudra kashyap")
tuple(t)

('R', 'u', 'd', 'r', 'a', ' ', 'k', 'a', 's', 'h', 'y', 'a', 'p')

In [ ]:
#Solved question

In [ ]:
#Unsolved question

In [15]:
#1
a=0
b=1
l1=[a,b]
for i in range(1,8):
    c=a+b
    a,b=b,c
    l1.append(c)
print(tuple(l1))

(0, 1, 1, 2, 3, 5, 8, 13, 21)

In [ ]:
#2
#a)

In [3]:
#2
#b)
a=0
b=1
l1=[a,b]
t1=()
for i in range(1,14):
    c=a+b
    a,b=b,c
    l1.append(c)
t1=tuple(l1)
print(t1)

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377)

In [6]:
#3
n=int(input("Enter some numbers::"))
x=[]
for i in range(n):
    a=int(input("Enter the number"))
    x=x+(a,)
l1=x
tl=tuple(l1)
print(t1)

Enter some numbers::4
Enter the number12

TypeError: can only concatenate list (not "tuple") to list

In [5]:
#4 
print("Enter your name,marks and rollnumber below:")
a=input("your name:")
b=int(input("Your Roll number:"))
c=int(input("Your Marks:"))
t=((a,b,c))
print(t)

Enter your name,marks and rollnumber below:
your name:Rudra
Your Roll number:11126
Your Marks:79
('Rudra', 11126, 79)

In [ ]:
d1={}
d1[(1,2,4)]=8
d1[]

In [1]:
print(type((1,2)))

<class 'tuple'>